# https://developer.hashicorp.com/nomad/docs/configuration/client
client {
  enabled = true
  node_class = "app"
  node_pool = "app_pool"
  servers = {{ nomad_servers | tojson }}

  server_join {
    retry_join     = {{ nomad_servers | tojson }}
    retry_max      = 3
    retry_interval = "15s"
  }

  bridge_network_name = "nomad"
}

# https://developer.hashicorp.com/nomad/docs/configuration/tls
tls {
  http = true
  rpc  = true
  ca_file = "/etc/nomad.d/ssl/ca.pem"
  cert_file = "/etc/nomad.d/ssl/nomad-client.pem"
  key_file = "/etc/nomad.d/ssl/nomad-client-key.pem"
}

# https://developer.hashicorp.com/nomad/docs/configuration/consul
consul {
  address = "{{ consul_address }}"

  # enable this when using consul with tls on remote server
  # ca_file = "/etc/nomad.d/ssl/ca.pem"
  # cert_file = "/etc/nomad.d/ssl/nomad-client.pem"
  # key_file = "/etc/nomad.d/ssl/nomad-client-key.pem"
  # ssl = true
  # client_auto_join = true
  # client_service_name = "nomad-client"
}