upstream k3s_servers {
    {% for host in groups['k3s_master'] %}
    server {{ hostvars[host]['ansible_host'] }}:6443;
    {% endfor %}
}

server {
    listen 6443;
    location / {
        proxy_pass http://k3s_servers;
        include /etc/nginx/includes/proxy.conf;
    }
}