upstream fabio_servers {
    {% for host in groups['fabio_server'] %}
    server {{ hostvars[host]['ansible_host'] }}:9999;
    {% endfor %}
}

server {
    listen 80;
    server_name app.nomad.onxp.net;

    location / {
        proxy_pass http://fabio_servers;
        include /etc/nginx/includes/proxy.conf;
    }
}

server {
    listen 80;
    server_name basic.nomad.onxp.net;

    location / {
        proxy_pass http://fabio_servers/basic;
        include /etc/nginx/includes/proxy.conf;
    }
}