[ req ]
default_bits       = 2048
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
countryName            = US
stateOrProvinceName    = State
localityName           = City
organizationName       = Organization
commonName             = {{ public_url }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = {{ public_url }}
DNS.2   = localhost
IP.1    = 127.0.0.1
IP.2    = {{ ansible_host }}