disable_mlock = true

listener "tcp" {
  address = "0.0.0.0:9202"
  purpose = "proxy"
}

worker {
  public_addr = "{{ worker_url }}"
  initial_upstreams = ["{{ hostvars[groups['k3s_master'][0]]['ansible_host'] }}:9201"]
  auth_storage_path = "/var/lib/boundary"
  tags {
    type = ["worker", "egress"]
  }
}

events {
  audit_enabled       = true
  sysevents_enabled   = true
  observations_enable = true
  sink "stderr" {
    name = "all-events"
    description = "All events sent to stderr"
    event_types = ["*"]
    format = "cloudevents-json"
  }
  sink {
    name = "file-sink"
    description = "All events sent to a file"
    event_types = ["*"]
    format = "cloudevents-json"
    file {
      path = "/var/log/boundary"
      file_name = "egress-worker.log"
    }
    audit_config {
      audit_filter_overrides {
        sensitive = "redact"
        secret    = "redact"
      }
    }
  }
}

kms "gcpckms" {
  purpose     = "worker-auth-storage"
  credentials = "/usr/boundary/kms-sa.json"
  project     = "{{ kms_project }}"
  region      = "{{ kms_region }}"
  key_ring    = "boundary-keyring"
  crypto_key  = "boundary-key-storage"
}
